.container {
  width: 100%;
  height: 100%;
}

.neutral {
  background: #807e48;
}

.empty {
  background: #707070;
}

.gameover {
  background: black;
}

.team1 {
  background: #ff566c;
}

.team2 {
  background: #629bff;
}

.team3 {
  background: #64ca6c;
}

.team4 {
  background: #ca6eb4;
}
