<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="container">

  <div class="menu">
    <div class="cell">
      <h3>Nombre d'équipes: {{teamCount}}</h3>
      <mat-slider [min]="2" [max]="4" [(value)]="teamCount"></mat-slider>
    </div>
    <div class="cell">
      <h3>Mots par équipe: {{tilesPerTeam}}</h3>
      <mat-slider [min]="6" [max]="10" [(value)]="tilesPerTeam"></mat-slider>
    </div>
    <div class="cell">
      <h3>Mots neutres: {{neutralCount}}</h3>
      <mat-slider [min]="0" [max]="10" [(value)]="neutralCount"></mat-slider>
    </div>
    <div class="cell">
      <h3>Game Over: {{gameOverCount}}</h3>
      <mat-slider [min]="1" [max]="3" [(value)]="gameOverCount"></mat-slider>
    </div>
  </div>
  <app-grid class="content" [teamCount]="teamCount" [tilesPerTeam]="tilesPerTeam" [neutralCount]="neutralCount"
            [gameOverCount]="gameOverCount"></app-grid>
</div>

